* {
  box-sizing: border-box;
}

html,
body,
#app {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #040910;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}
